* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.nav-header {
  display: flex;
}
.nav-title {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.nav-single {
  display: flex;
  gap: 10px;
  padding: 15px;
  /* flex-direction: row; */
}

.nav-single::before {
  content: "";
  height: 25px;
  border-radius: 5px;
  background: transparent;
  transition: all 0.3s;
}
.nav-single:hover::before {
  width: 5px;
  background-color: orange;
}
